.Quick-Sopport{margin-right: 6%;}.Quick-Sopport hr{height: 2px;transition: background-color 0.8s;}.Quick-Sopport:hover hr{background-color: blue;}
.anchor-to-about-us {text-decoration: none;color: rgb(57, 96, 249);margin: 25%;}.anchor-to-about-us:hover span{margin-left:6px;}.anchor-to-about-us span{transition:margin-left 0.5s ;}
.why-choose-us{margin-top: 90px;background-color: rgb(47, 47, 110);padding-top: 80px;color: white;padding-bottom: 190px;}
.why-choose-us-col{width: 22%;margin-left: 2.5%;padding: 15px; padding-bottom: 100px; border: 1px solid white;position: relative;}.why-choose-us-col:hover{background-color: white;color: rgb(35, 34, 34);opacity: 1;}.why-choose-us-col > i{position: absolute;bottom: 20px;right: 20px;}
.myCanvas{position: absolute;bottom: -21px;right: -21px;opacity: 0.4;}
.choos-us-num{color: rgb(103, 101, 101);font-size: 7em;font-family:'Times New Roman', Times, serif; font-weight: bolder; position: absolute;top: -44px;left: -4px;z-index: 0;opacity: 0.3;}
.row01{margin: 4%; margin-top: -120px;position: relative;color: rgb(0, 0, 0);}
.image-container1{margin-right: 3%;width: 22%;overflow: hidden;position: relative;}
.image-container1 img{transition: transform 0.7s;}
.image-container1:hover img{transform: scale(1.2);}
.image-container1:hover::after{opacity: 0.6;}
.tech-index1{ width: 100%; margin-top: 110px;background-image: url('../Images/th\ \(2\).jpeg');background-position: center; background-size:cover;opacity: 0.7;}
.tech-index-device1{padding: 4%; border: 3px solid white;margin-right: 2.5%;margin-top: 30px;width: 14%;}
.tech-index-device1:hover{background-color:  rgb(57, 96, 249);}
.tech-index-device1 i{color: rgb(57, 96, 249);}.tech-index-device1:hover i{color: white;}
.Our-avalability{width: 100%;padding-top: 140px;padding-bottom: 150px;background-image: url('../Images/OIP.jpeg');background-position: center;background-size: cover;opacity: 0.9;}
.logo-of-client{width: 80px;height: 80px;border-radius: 50%;background-color: lightgray;}
.Image-On-why-you-choose-us{margin-right: 6%;}
/* code to define mesia querry*/
@media(max-width: 600px){
    .why-choose-us-col{width: 96%;margin-top: 20px;}.tech-index-device1{width: 28%;}
    
     }
  @media(max-width: 992px) and (min-width:601px){
    .why-choose-us-col{width: 45%;margin-top: 20px;}.Image-On-why-you-choose-us{margin-right: 0;}.Image-On-why-you-choose-us img{height: 300px;}.tech-index-device1{width: 28%;}
     }